.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.packages .box-container .box {
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    overflow: hidden;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
    display: inline-block;
}

.packages .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.packages .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.packages .box-container .box .content h3 {
    font-size: 2.5rem;
    color: black;
}

.packages .box-container .box .content p {
    font-size: 1.5rem;
    color: #777;
    line-height: 2;
    padding: 1rem 0;
}

.packages .load-more {
    text-align: center;
    margin-top: 2rem;
}